<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
       http://www.springframework.org/schema/tx 
       http://www.springframework.org/schema/tx/spring-tx-4.1.xsd
       ">

    <!--扫描注解包 配置这条便可移除 <context:annotation-config/> -->
    <!-- 此处报错在xsi处加上 http://www.springframework.org/schema/tx 
       http://www.springframework.org/schema/tx/spring-tx.xsd -->
    <context:component-scan base-package="zhao.blog.managementsystem" >
      <!-- <context:exclude-filter type="regex"  
            expression=".*ServiceImpl$" />   -->
    </context:component-scan>
     <!--MVC驱动 controller-->
    <mvc:annotation-driven conversion-service="conversionService"/>
    
    <!--MVC注解-->
    <!--针对注解配置@RequestMapping :
    RequestMappingHandlerMapping 替代了 DefaultAnnotationHandlerMapping-->
    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping" />
    
<!--  	  Freemarker视图1 
    <bean id="freemarkerConfig" class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
   		 <property name="templateLoaderPath" value="/WEB-INF/ftl/"/>  
	</bean>  
	<bean id="viewResolver"  
	    class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
	    <property name="cache" value="true"/>  
	    <property name="prefix" value=""/>  
	    <property name="suffix" value=".ftl"/>  
	    <property name="contentType" value="text/html; charset=UTF-8"/>  
	</bean>   -->
	<!-- 配置freeMarker的模板路径 -->  
     <bean class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">  
        <property name="templateLoaderPath" value="WEB-INF/ftl/" />  
        <property name="defaultEncoding" value="UTF-8" />  
     </bean>  
     <!-- freemarker视图解析器 -->  
     <bean class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">  
        <property name="suffix" value=".ftl" />  
        <property name="contentType" value="text/html;charset=UTF-8" />  
        <!-- 此变量值为pageContext.request, 页面使用方法：request.contextPath -->  
        <property name="requestContextAttribute" value="request" />  
     </bean> 
	 <!--普通视图解析-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
    <!--  <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/> -->
        <property name="prefix" value="/WEB-INF/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
    <!-- 配置SpringMVC文件上传解析器  -->  
        <bean id="multipartResolver"  class="org.springframework.web.multipart.commons.CommonsMultipartResolver">  
            <property name="maxUploadSize" value="-1" />  
            <property name="defaultEncoding" value="UTF-8" />  
            <property name="maxInMemorySize" value="40960"></property>  
        </bean>  
    <!--servlet在找页面时，走的是dispatcherServlet路线。找不到的时候会报404
        加上这个默认的servlet时候，servlet在找不到的时候会去找静态的内容。-->
    <mvc:default-servlet-handler />

    <!-- 用于将对象转换为 JSON  转换器-->
    <!-- 避免IE执行AJAX时,返回JSON出现下载文件 -->
    <bean id="stringConverter"
          class="org.springframework.http.converter.StringHttpMessageConverter">
        <property name="supportedMediaTypes">
            <list>
                <value>text/plain;charset=UTF-8</value>
            </list>
        </property>
    </bean>
    <bean id="jsonConverter" class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
        <property name="supportedMediaTypes">
            <list>
                <value>text/plain;charset=UTF-8</value>
            </list>
        </property>
    </bean>
    <!-- 日期转换器 -->
    <bean id="conversionService" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
    	<property name="converters">
    		<list>
    			<bean class="zhao.blog.managementsystem.converter.DateConverter"/>
    		</list>
    	</property>
    </bean>
    <!--RequestMappingHandlerAdapter :
        和上面的RequestMappingHandlerMapping配对使用-->
    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter ">
        <property name="messageConverters">
            <list>
                <ref bean="stringConverter" />
                <ref bean="jsonConverter" />
            </list>
        </property>
    </bean>

</beans>