@CHARSET "UTF-8";
ul li{list-style:none;}
.box { width:100%;margin:18px auto 0 auto; }
.left { width:140px;border-bottom:2px solid #DDD;background:#FFF;float:left; }
.left li:hover { border-left:3px solid #0066ff; }
.left li a { height:40px;line-height:40px;display:block;color:#333 }
.left li a:hover,.left li.active a{color:#0066FF}
.left li.active{border-left:3px solid #0066ff;}
.left li { border-left:3px solid #fff; border-bottom: 1px solid #EEEEEE; font-size: 14px; height: 40px; margin-bottom: 1px; overflow: hidden; padding-left: 25px; }
.event_year { width:60px;border-bottom:2px solid #DDD;text-align:center;float:left;margin-top:10px; }
/* 添加悬浮样式 */
.event_year_fixed{position:fixed; top:0px; width:60px;border-bottom:2px solid #DDD;text-align:center;float:left;margin-top:10px;}
.event_year li { height:40px;line-height:40px;background:#FFF;margin-bottom:1px;font-size:18px;color:#828282;cursor:pointer; }
.event_year li.current { width:70px;background:#0066ff url('../image/jian.png') 60px 0 no-repeat;color:#FFF;text-align:left;padding-left:9px; }
.event_list { /* float:right; */background:url('../image/dian3.png') 63px 0 repeat-y;margin:10px 0 20px 0; }
.event_list h3 {  margin:0 0 10px 56px; font-size:24px;font-family:Georgia;color:#0066ff;padding-left:25px;background:url('../image/jian.png') 0 -45px no-repeat;height:38px;line-height:30px;font-style:italic; }
.event_list li { background:url('../image/jian.png') 60px -80px no-repeat; }
.event_list li span { width:60px;display:block;float:left;margin-top:10px; }
.event_list li p {  width:80%; margin-left:24px;display:inline-block;padding-left:10px;background:url('../image/jian.png') -21px 0 no-repeat;line-height:25px;_float:left; }
@media only screen and  (min-width: 768px)  { .event_list li p { width:75%;}; }
.event_list li p span {  width:100%; text-align:left;border-bottom:2px solid #DDD;padding:10px 15px;background:#FFF;margin:0; }
/* 超小屏幕样式 折叠 */
@media only screen and  (max-width: 568px)  {
	.event_list{
		background: url('../image/dian3.png') center 0 repeat-y;
	}
	.event_list h3[id^='20']{
		margin: 0px 0px 0px 18px;
		font-size: 24px;
		color: #0066ff;
		padding-left: 24px;
		background: url('../image/jian.png') center -50px no-repeat;
		height: 23px;
		line-height: 23px;
		text-align: center;
		padding-left: 60px;
		}
		
	.event_list li p{
		background: none;
	}
	.event_list li{
		background: url('../image/jian.png') center -80px no-repeat;
		margin-left: 25px;
	}
	.event_list li span{
		 margin-left: 50%;
	}
	
	
	
	
	
}